<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script,profileLink)"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    <title data-th-replace="${title}">SCM</title>

</head>
<body>
    <section data-th-replace="${content}"></section>
   
    <nav>
        <a th:href="@{${profileLink}}" class="profile-link">Go to Profile</a>
    </nav>
   
   
   
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>

</body>
</html>